/*------------------
    RESET 
------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(143deg, rgba(0,0,0,1) 0%, rgba(41,46,73,1) 46%);
}

/*------------------
    COMMON 
------------------*/
.container{
    max-width: 800px;
    height: 100vh;
    margin: auto;
    background: linear-gradient(
        135deg,
        #8052ec,
        #d161ff
    );
}

/*------------------
    HEADER 
------------------*/
header{
    text-align: center;
}

header #logo{
    width: 35%;
    margin: .625rem;
}

/*------------------
    MAIN
------------------*/
main.to-do{
    padding: 1.25rem 0;
}

/*--------------------
    MAIN INPUT FORM
---------------------*/
.to-do__inputform{
    background-color: white;
    width: 65%;
    margin: auto;
    padding: 1.875rem 1.5625rem;
    border-radius: .625rem;
    filter: drop-shadow(0px 0px 5px red);
}

.to-do__inputform input,
.to-do__inputform button{
    padding: .625rem .9375rem;
    border-radius: .625rem;
    margin: 0 .3125rem;
    border: 1px solid #d1d3d4;
}

.to-do__inputform input{
    cursor: text;
    width: 21.25rem;
}

.to-do__inputform input:focus{
    background-color: rgba(128, 82, 236, 0.3);
}

.to-do__inputform button{
    cursor: pointer;
    width: 6.25rem;
    background-color: #8052ec;
    color: white;
}

/*----------------------
    MAIN LIST CONTAINER
-----------------------*/
.to-do__list_container{
    background-color: #f3f6f6;
    margin: 1.875rem 3.125rem;
    padding: 1.875rem;
    border-radius: .625rem;
    max-height: 429px;
    overflow-y: auto;
    filter: drop-shadow(0px 0px 5px red);
}

.to-do__list_container ul{
    color: black;
    list-style: none;
}

.to-do__list_container ul li{
    border-bottom: 3px solid #d1d3d4;
    padding: 0 .8125rem .4375rem .8125rem;
    margin-bottom: .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.to-do__list_container ul li .delete-icon,
.to-do__list_container ul li h3{
    cursor: pointer;
}

.to-do__list_container ul li h3{
    font-style: italic;
}

.to-do__list_container ul li .delete-icon{
    background-color: #8052ec;
    color: white;
    width: 1.875rem;
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
}

/*----------------------
    UTILITIES (JS)
-----------------------*/
.task_done{
    text-decoration: line-through;
    color: red;
}

.text-center{
    text-align: center;
}

/*----------------------
    EFFECTS
-----------------------*/
.to-do__list_container ul li .delete-icon:hover{
    color: red;
}