<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To do List</title>
        <link rel="stylesheet" href="css/style.css">
        <!-- Fontawesome CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /Fontawesome CDN -->
        <!-- Vue.js CDN -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- /Vue.js CDN -->
    </head>
    <body>
        <div id="app">
            <div class="container">
                <!-- Logo -->
                <header>
                    <img id="logo" src="img/logo-boolean.png" alt="">
                </header>
                <!-- Logo -->

                <!-- To DO Heart -->
                <main class="to-do">
                    <!-- to-do input e button -->
                    <form class="to-do__inputform" @submit.prevent="addToDo">
                        <input type="text" placeholder="Inserisci attività" v-model="textInput" required minlength="4">
                        <button type="submit">Aggiungi</button>
                    </form>
                    <!-- /to-do input e button -->

                    <!-- container dove andranno le task to do -->
                    <div class="to-do__list_container">
                        <ul v-if="toDoList.length > 0">
                            <li v-for="(element, index) in toDoList">
                                <h3 :class="{ task_done : element.done }" @click="checkUncheck(index)">{{ element.text }}</h3>

                                <!-- Trash Icon -->
                                <i class="delete-icon fa-regular fa-trash-can" @click="deleteToDo(index)"></i>
                            </li>
                        </ul>
                        <h2 v-else class="text-center">Nessun elemento presente nella lista delle cose da fare.</h2>
                    </div>
                    <!-- /container dove andranno le task to do -->
                </main>
                <!-- /To DO Heart -->
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>